<h1>Example#input</h1>


<%= form_with url: "/example/show", method: :get do |form| %>
  <%= form.label :digit, 'Число' %>
  <%= form.text_field :digit %>
  <%= form.submit 'Отправить' %>
<% end %>

<p><%= flash[:error]%></p>

