<h1>Ввод числа</h1>


<%= form_with url: result_path, method: :get do |form| %>
  <%= form.label :digit, 'Число' %>
  <%= form.text_field(:digit, value: "78") %>
  <%= form.submit 'Отправить' %>
<% end %>

<p><%= flash[:error]%></p>

